/*----------------------------
Design and Development by Andrew Krigline
akrigline.com
--------------*/

html,body{
	height:100%;
}

.top-nav{
	margin-bottom:0;
	border-radius:0;
}

section{
	width:100%;
	height:200%;
	position:relative;
}

figure{
	overflow:hidden;
}

.intro{
	margin:0;
	header{
		background:#333;
		width:100%;
		height:50%;
		position:relative;
		h1{
			width:-webkit-max-content;
			width:max-content;
			height:-webkit-min-content;

			-webkit-background-clip:text;
			background-clip:text;

			-webkit-text-fill-color:transparent;
			text-fill-color:transparent;

			color:#ccc;

			font-size:8em;
			font-weight:800;

			margin:auto;

			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
		}
		p{
			color:#ccc;
			width:50%;

			position:absolute;
			top:60%;
			left:0;
			right:0;

			margin:auto;
		}
	}
}

.jumbotron{
	width:100%;
	height:50%;
	margin-bottom:0;

	figcaption{
		padding:1em 2em;
		width:33.3333%;
		position:absolute;
		bottom:10em;
		right:0;

		background-color:#333;
		color:#fff;
	}
}

.portfolio{
	height:100%;
	figure{
		position:relative;
		height:0;
		padding-top:17%;
		&:hover figcaption{
			opacity:1;
		}
	}
	img{
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		width:auto;
		height:auto;
		min-height:100%;
		min-width:100%;
		max-width:none;
		max-height:none;
	}
	figcaption{
		top:0;
		right:0;
		position:absolute;
		
		width:100%;
		height:100%;

		background:rgba(255,255,255,0.75);

		text-align:center;
		opacity:0;
		transition:all 600ms;
	}
}

.team{
	height:100%;
	nav{
		text-align:center;
		li{
			display:inline-block;
		}
	}
}

.background-img{
	background-size:cover;
	background-attachment:fixed;
}

.first{
	background-image: url(../img/img1.jpg);
}

.second{
	background-image: url(../img/img3.jpg);
}

.third{
	background-image: url(../img/img4.jpg);
}