/*----------------------------
Design and Development by Andrew Krigline
akrigline.com
--------------*/
@font-face {
  font-family: 'Uvers-UltraCon-Thin';
  src: url('../fonts/UversUltraConThin.eot?#iefix') format('embedded-opentype'), url('../fonts/UversUltraConThin.otf') format('opentype'), url('../fonts/UversUltraConThin.woff') format('woff'), url('../fonts/UversUltraConThin.ttf') format('truetype'), url('../fonts/UversUltraConThin.svg#UniversLTStd-LightUltraCn') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 17, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.logotype, .intro header h1.welcome-title {
  font-family: 'Uvers-UltraCon-Thin';
  letter-spacing: .1em;
  text-transform: lowercase;
  font-weight: normal; }

/* line 24, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.oswald, .intro header h1 {
  font-family: 'Oswald', sans-serif; }

/* line 28, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
html, body {
  height: 100%; }

/* line 32, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.top-nav {
  margin-bottom: 0;
  border-radius: 0; }

/* line 37, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
section {
  width: 100%;
  height: 200%;
  position: relative; }

/* line 43, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
figure {
  overflow: hidden; }

/* line 47, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.intro {
  margin: 0;
  overflow: hidden; }
  /* line 51, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
  .intro header {
    background-color: rgba(45, 45, 45, 0.9);
    background: -moz-radial-gradient(center, ellipse cover, rgba(33, 33, 33, 0.95) 0%, #303030 90%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(33, 33, 33, 0.95)), color-stop(90%, #303030));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(33, 33, 33, 0.95) 0%, #303030 90%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(33, 33, 33, 0.95) 0%, #303030 90%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(33, 33, 33, 0.95) 0%, #303030 90%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(33, 33, 33, 0.95) 0%, #303030 90%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6212121', endColorstr='#303030',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    height: 50%;
    position: relative; }
    /* line 65, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
    .intro header h1 {
      line-height: 1.1em;
      text-align: center;
      max-width: -webkit-max-content;
      max-width: max-content;
      height: -webkit-min-content;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
      color: #ccc;
      text-transform: uppercase;
      font-weight: 800;
      font-size: 8em;
      letter-spacing: .1em;
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
      /* line 94, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
      .intro header h1.welcome-title {
        font-size: 12em; }
        /* line 98, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
        .intro header h1.welcome-title .basedown {
          display: inline-block;
          position: relative;
          bottom: -0.3em;
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          text-fill-color: transparent; }
    /* line 110, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
    .intro header p {
      color: #ccc;
      width: 50%;
      position: absolute;
      top: 60%;
      left: 0;
      right: 0;
      margin: auto; }

/* line 124, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.jumbotron {
  width: 100%;
  height: 50%;
  margin-bottom: 0;
  background: transparent; }
  /* line 129, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
  .jumbotron figcaption {
    padding: 1em 2em;
    width: 33.3333%;
    position: absolute;
    bottom: 10em;
    right: 0;
    background-color: #333;
    color: #fff; }

/* line 141, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.portfolio {
  height: 100%; }
  /* line 143, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
  .portfolio figure {
    position: relative;
    height: 0;
    padding-top: 17%; }
    /* line 147, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
    .portfolio figure:hover figcaption {
      opacity: 1; }
  /* line 151, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
  .portfolio img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    max-height: none; }
  /* line 164, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
  .portfolio figcaption {
    top: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    text-align: center;
    opacity: 0;
    transition: all 600ms; }

/* line 180, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.team {
  height: 100%; }
  /* line 182, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
  .team nav {
    text-align: center; }
    /* line 184, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
    .team nav li {
      display: inline-block; }

/* line 190, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.background-img {
  background-size: cover;
  background-attachment: fixed; }

/* line 195, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.first {
  background-image: url(../img/img1.jpg); }

/* line 199, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.second {
  background-image: url(../img/img3.jpg); }

/* line 203, /Users/akrigline/Projects/01.School/08.Senior Spring/Dx9/Website/DesignxNineSite/css/main.scss */
.third {
  background-image: url(../img/img4.jpg); }

/*# sourceMappingURL=main.css.map */